.NavBar {
  background-color: #9f0909;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.NavList {
  display: flex;
  align-items: center;
  justify-content:left;
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.NavItem {
  padding: 0 10px;
  display: flex;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

.NavItem:hover {
  background-color: #4a4a4a;
}

.LeaderboardTable {
  margin-top: 50px;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.LeaderboardTable td {
  border: 1px solid black;
  padding: 1px;
  display: table-cell;
  text-align: center;
}

.sortable:hover{
  cursor: pointer;
  color: #9f0909;
}
.sortable{
	color: #640000;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.tagFeedItem {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 500px;
  background-color: #f2f2f2;
}

.tagFeedItem:hover {
  background-color: #e6e6e6;
}

.tagger {
  font-weight: bold;
}

.date {
  font-style: italic;
  font-size: small;
}

.comment {
  margin-top: 10px;
}

.commenter {
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: ;
  text-align: center;
  min-height: 100vh;
}



