#root {
  display: flexbox;
  flex-wrap: wrap;
}

.NavBar {
  background-color: #9f0909;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0;
}

.NavList {
  display: flex;
  align-items: center;
  justify-content: left;
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.NavItem {
  margin: 20px;
  display: flex;
  color: hsl(0, 1%, 56%);
  font-size: 3.2vmin;
  padding: 3px 20px 3px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}

.NavItem:hover {
  color: #ffffff;
  transform: scale(1.1);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 500ms;
  text-shadow: #ffffff 0px 0px 10px;
}

.NavItem.active {
  color: #ffffff;
  transform: scale(1.2);
}

.leaderboardTable {
  width: 50%;
  border: #fff solid 2px;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px; 
  color: #fff
}

.leaderboardTable td, .leaderboardTable th {
  border: #fff solid 2px;
  padding: 5px;
  text-align: center;
  background-color: #940909;
  background-image: linear-gradient(to top, rgb(31, 31, 31) 0%, #940909 100%);
}

.feedItem {
  width: 25%;
  text-align: center;
  border: #fff solid 2px;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px; 
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  background-color: #940909;
  transition: ease-in-out 0.3s;
}

.feedItem img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.feedItem:hover {
  background-color: #940909;
  color: #fff;
  border: #000 solid 2px;
  transition: ease-in-out 0.3s;
  scale: 1.1;
}

a{
  text-decoration: none;
}

body {
  display: flexbox;
  background-color: #282828;
}

.mostWantedPoster {
  text-align: center;
  border: #fff solid 2px;
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 30px; 
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  background-color: #940909;
  background-image: linear-gradient(to top, rgb(31, 31, 31) 0%, #940909 100%);
}

.mostWantedPoster img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.img {
  display: block;
  width: 95%;
  max-width: 100%;
  margin: auto;
}

.img-bg {
  content: "";
  width: 80%;
  z-index: -1;

  position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;

  background-color: #fff;
  border-radius: 30% 0% 0% 28%;
}

.activeFilter {
  background-color: #ffffff;
}

.inactiveFilter {

  background-color: #282828;
}

.filterSelect {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
}

.filterSelect button {
  float: inline-start;
  text-align: center;
  margin-left: 20px;
}

.subtable {
  border: #fff solid 2px;
  border-collapse: collapse;
  margin: 0 auto;
  color: #fff
}

.subTable td, .subTable th {
  border: #fff solid 1px;
  color: #fff;
  padding: 5px;
  text-align: center;
  background-color: #940909;
  background-image: linear-gradient(to top, rgb(31, 31, 31) 0%, #940909 100%);
}


.twoColumn {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subtableColumn {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.leaderboardAndFilterColumn{
  margin-top: 5vh;
  height: 100vh;
  width: 60vw;
}

